<div class="formular">
    <div class="header">
        <h2>Intra in cont</h2>
    </div>
    <form class="form" id="form">
        
        <div class="form-control">
            <label>E-mail</label>
            <input type="email" id="email" placeholder="E-mail">
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label>Parola</label>
            <input type="password" id="password" placeholder="Parola">
            <small>Error message</small>
        </div>

        <button>Submit</button>
        <small class="forgot"><b-link href="/auth/forgot-password">Ti-ai uitat parola?</b-link></small>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <small class="forgot"><b-link href="/auth/register">Nu ai cont?</b-link></small>
    </form>
</div>

<div class="info">

    <h1><i class="fas fa-trash-restore"></i> Bine ai revenit!</h1>
    <h1>Ieri s-au strans 4 catralioane de gume de pe jos.</h1>
    <h1>Piechart</h1>

</div>
