x-menu {
    position: absolute;
    width: 100vw;
    position: sticky; 
}

body {
    background-color: #0594ec;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 100px;
}

.container {
    margin: 0 auto;
	margin-top: 70px;
    max-width: 600px;
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    color: white;
}

.campaign {
	background-color: #fff;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, .1), 
		0px 2px 4px rgba(60, 60, 60, 0.1);
	border-radius: 4px;
	padding: 40px;
	margin: 20px 10px;
}

.title {
	margin: 0;
}

.description {
	color: #555;
	margin: 20px 0;
}

.inf {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.inf span {
	font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
}

#toform {
    background-color: white;
    border: 2px solid white;
    color: #0594ec;
    display: block;
    width: 200px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
}

.loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity .3s ease-in;
}

.loading.show {
	opacity: 1;
}

a {
    font-size: 1em;
}

.ball {
	background-color: white;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}