x-menu {
    position: absolute;
    position: sticky; 
}

body {
    background-color: #0594ec;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
	margin-top: 70px;
    max-width: 600px;
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    color: white;
}

x-campaign {
	background-color: #fff;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, .1), 
		0px 2px 4px rgba(60, 60, 60, 0.1);
	border-radius: 4px;
	padding: 40px;
	margin: 20px 10px;
	display: block;
}

.title {
	margin: 0;
}

.description {
	color: #555;
	margin: 20px 0;
}

.inf {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.inf span {
	font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
}

#toform {
    background-color: white;
    border: 2px solid white;
    color: #0594ec;
    display: block;
    width: 200px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
}
