<span><b-link class="logo" href="/">GaSM</b-link></span>

<button class='menu-btn'><i class="fas fa-bars"></i></button>

<ul class="menu-list">
	<ul id="menu-nav">
		<li><span><b-link class="logo" href="/">GaSM</b-link></span></li>
		<li><button class='menu-btn'><i class="fas fa-times"></i></button></li>
	</ul>
	<li><b-link href="/">Home</b-link></li>
	<li><b-link href="#">Live Map <i class="fas fa-map-marker-alt"></i></b-link></li>
	<li><b-link href="#">Alerts <i class="fas fa-exclamation-triangle"></i></b-link></li>
	<li><b-link href="/stats">Info <i class="fas fa-hands-helping"></i></b-link></li>
	<li><b-link href="/auth/login">Login</b-link></li>
</ul>
