x-map .marker-cluster  {
    background-color: rgba(106, 164, 222, 0.6);
}

x-map .marker-cluster div {
    background-color: rgba(0, 177, 252, 0.6);
    color: white;
}

x-map {
    display: block;
    width: 100vw;
    height: 100%;
}
