<div class="formular" id="formular">
    <div class="header">
        <h2>Creeaza Alerta</h2>
    </div>
    <form class="form" id="form">
        <div class="form-control">
            <div class="in">
                <label>Titlu</label>
                <input type="text" id="title" name="title" placeholder="Titlu">
            </div>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <div class="in">
                <label>Descriere</label>
                <textarea id="content" name="content" rows="5" placeholder="Descriere"></textarea>
            </div>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <div class="in">
                <label>Adresa</label>
                <input type="text" id="address" name="address" placeholder="Adresa">
            </div>
            <small>Error message</small>
        </div>

        <button>Submit</button>
    </form>
</div>

<div class="info">

    <h1><i class="fas fa-chart-bar"></i> Vizualizeaza informatii cu privire la colectarea si reciclarea gunoiului.</h1>
    <h1><i class="fas fa-exclamation-triangle"></i> Raporteaza locul unde s-a acumulat o cantitate substantiala de gunoi sau depozitarea neadecvata a acestuia.</h1>
    <h1><i class="fas fa-hands-helping"></i> Initiaza o campanie de sensibilizare a locuitorilor.</h1>

</div>
