<div class="container" id="container">
    <div class="header">
        <h1>Campanii curente</h1>
        <b-link href="/campaigns"><button id="toform">Creeaza Campanie <i class="fas fa-external-link-alt"></i></button></b-link>
    </div>
    <div class="campaign">
        <h2 class="title">Titlu Campanie</h2>
        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident quod debitis in repellat veritatis minus ab ex maiores itaque quis.</p>
        <a href="#">Citeste mai mult</a>

        <div class="inf">
        <div>
        <h4>Adresa</h4>
            <span class="address">Str. Morii</span>
        </div>
        <div>
        <h4>Data</h4>
            <span class="name">22/10/2020 12:00am</span>
        </div>
        <div>
        <h4>Organizator</h4>
            <span class="date">Adut Micut</span>
        </div>
        </div>
    </div>
</div>

<div class="loading">
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
</div>