* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #efefef;
    font-family: 'Poppins', sans-serif;
}

b-router, b-component {
    width: 100%;
    height: 100%;
}

b-link {
    cursor: pointer;
}
