#map {
    width: 100vw;
    height: 100vh;
}

.marker-cluster  {
    background-color: rgba(106, 164, 222, 0.6);
}

.marker-cluster div {
    background-color: rgba(0, 177, 252, 0.6);
    color: white;
}
