<nav>
  <span><a class="logo" href="#">GaSM</a></span>
  
  <button class='menu-btn'><i class="fas fa-bars"></i></button>
  
  <ul id="menu-list">
	<ul id="menu-nav">
	  <li><span><a class="logo" href="#">GaSM</a></span></li>
	  <li><button class='menu-btn'><i class="fas fa-times"></i></button></li>
	</ul>
	<li><a href="#">Home</a></li>
	<li><a href="#">Live Map  <i class="fas fa-map-marker-alt"></i></a></li>
	<li><a href="#">Alerts  <i class="fas fa-exclamation-triangle"></i></a></li>
	<li><a href="#">Info  <i class="fas fa-hands-helping"></i></a></li>
	<li><a href="#">Login</a></li>
  </ul>
</nav>
