nav {
  background-color: #fff;
  box-shadow: 0.3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  overflow:hidden;
}

nav span a{
  color: #0594ec;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1.5px;
  font-size: 1em;
  text-decoration: none;
}

.menu-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-list li {
  margin: 0 10px;
}

.menu-btn {
  border: 0;
  background-color: transparent;
  font-size: 18px;
  display: none;
}

.menu-btn:focus {
  outline: none;
}

.menu-list li a {
  color: #2c405e;
  text-decoration: none;
  position: relative;
}

.menu-list li a::after {
  content: '';
  background-color: #2c405e;
  opacity: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  left: 0;
  bottom: -18px;
  transition: transform 0.2s ease;
}

.menu-list li a:hover::after {
  transform: translateY(-15px);
  opacity: 1;
}

#menu-nav{
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu-nav li a i {
    visibility: hidden;
}


@media (max-width: 480px) {
  .menu-btn {
    display: block;
  }
  
  .menu-list {
    background-color: #fff;
    box-shadow: 0.3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    flex-direction: column;
    text-align: left;
    transform: translateX(-105%);
    transition: transform 0.4s ease;
  }
  
  .menu-list.show {
    transform: translateX(0);
  }
  
  .menu-list li {
    margin: 15px;
  }

  .menu-list li a {
    font-size: 2em;
  }
  
  #menu-nav {
    display: flex;
    background-color: #fff;
    left: 0;
    justify-content: space-between;
    margin-bottom: 20px;
  }

}
